/* menu */
@keyframes menu_ani {
  from {
    top: -65px;
  }
  to {
    top: 0;
  }
}
@keyframes bar_home_ani {
  from {
    right: -100px;
  }
  to {
    right: 0;
  }
}

.menu_container {
  animation: menu_ani 1s ease-out forwards alternate;
  display: flex;
  position: fixed;
  height: 65px;
  width: 100vw;
  z-index: 10;
  background-color: rgba(34,31,194,1);
  transition: all 0.35s;
}
.home {
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 5%;
  display: flex;
  cursor: pointer;
}
.menu_list {
  color: white;
  position: fixed;
  margin: 20px;
  right: 15%;
  display: flex;
}
.menu_item {
  cursor: pointer;
}
.menu_a {
  margin-left: 25px;
  position: relative;
  display: inline-table;
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}
.menu_a span {
  margin-left: 5px;
  margin-right: 15px;
  position: relative;
  z-index: 20;
  transition: all 0.35s;
}

.menu_a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34,31,194,1);
  top: 0;
  left: -100%;
  transition: all 0.35s;
  z-index: 10;
}
.menu_item:nth-child(3) > .menu_a::before {
  background: red;
}

.menu_item:hover .menu_a::before {
  left: 0;
}
.menu_item:hover .menu_a {
  color: white;
}
.menu_item:active .menu_a {
  color: white;
}





/* mobile menu */

.bar_menu_container{
  top:0;
  animation: menu_ani 1s ease-out forwards alternate;
  display: flex;
  position: fixed;
  height: 65px;
  width: 100vw;
  z-index: 10;
  background-color: rgba(34,31,194,1);
  transition: all 0.35s;
}
.bar_home {
  position: fixed;
  right:0%;
  bottom: 0%;
  margin-bottom: 10%;
  display: flex;
  cursor: pointer;
  font-size: 25px;
  background-color: white;
  animation: bar_home_ani 1s ease-out forwards alternate;
}
.bar_menu_list {
  color: white;
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.bar_menu_a {
  position: relative;
  display: inline-table;
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}
.bar_menu_a span {
  position: relative;
  z-index: 20;
  transition: all 0.35s;
  margin-left: 5px;
  margin-right: 15px;
}

.bar_menu_item:active .bar_menu_a {
  color: white;
}


