.Contact_title {
  font-family: "Titillium Web", "san-selif";
  font-size: 20px;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 20px;
  text-decoration: underline;
  width: 100%;
  border-bottom: 3px dotted rgba(96,74,138);
  padding-bottom: 30px;
}
.Contact_desc {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", "san-selif";
  font-weight: 900;
  margin-left: 80px;
  margin-top: 80px;
  font-size: 100px;
}
.bar_Contact_title {
  font-family: "Titillium Web", "san-selif";
  font-size: 20px;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 20px;
  text-decoration: underline;
  width: 100%;
  border-bottom: 3px dotted rgba(96,74,138);
  padding-bottom: 30px;
}
.bar_Contact_desc {
  color: rgba(96,74,138);
  display: flex;
  flex-direction: column;
  font-family: "escore8";
  font-size: 11px;
  width: 100%;
}
.contact_form {
  width: 70%;
  align-self: center;
}
.contact_form > input {
  width: 100%;
}
.contact_data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactImage{
  width: 250px;
}
.bar_contactImage{
  width: 65vw;
  max-width: 200px;
}