@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Sunflower:300&display=swap');
/* about */
.About_container {
  width: 100%;
  height: 100vh;
  background-color: blue;
  color: white;
  overflow: hidden;
}
.About_title {
  font-family: "Dosis", "san-selif";
    font-size: 40px;
    font-weight: 800;
    padding-left: 80px;
    padding-top: 10px;
    text-decoration: underline;
    width: 100%;
    border-bottom: 3px dotted white;
    padding-bottom: 10px;
}
.About_desc {
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: 800;
  margin-top: 80px;
  width: 100%;
}
.desc_container {
  font-family: "Noto Sans KR", "san-selif";
  font-weight: 900;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 100px;
}
.desc_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 20px;
}
.desc_item h2 {
  margin-bottom: 10px;
}
.desc_item:nth-child(1) {
  flex: 1;
}
.desc_item:nth-child(2) {
  flex: 1;
}
.desc_item:nth-child(3) {
  flex: 1;
}
.desc_item_article{
  margin-left: 20px;
}


/*mobile*/
.bar_About_title {
  font-family: "Dosis", "san-selif";
  font-size: 20px;
  font-weight: 800;
  padding-left: 40px;
  padding-top: 40px;
  text-decoration: underline;
  width: 100%;
  border-bottom: 3px dotted white;
  padding-bottom: 10px;
}
.bar_About_desc {
  /* border-bottom: 3px dotted white; */
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  font-weight: 800;
  /* margin-top: 20px; */
  width: 100%;
  height: 80vh;
}
.bar_desc_container {
  font-family: "Noto Sans KR", "san-selif";
  font-weight: 900;
  position: absolute;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}
.bar_desc_item {
  display: flex;
  flex: 1;
  margin: 10px;
}
.bar_desc_item h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.bar_desc_item:nth-child(1) {
  flex: 1;
}
.bar_desc_item:nth-child(2) {
  flex: 1;
}
.bar_desc_item:nth-child(3) {
  flex: 1;
}
.bar_desc_item_article{
  margin-left: 20px;
}
.bar_desc_item_article p{
  font-size: 10px;
}