@keyframes home_ani {
  from {
    color: rgba(34, 31, 194, 0);
    margin-top: 60px;
  }
  to {
    color: rgba(96,74,138);
    margin-top: 0px;
  }
}


.Home_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}
.bar_Home_container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}
.Home_desc {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", "san-selif";
  font-weight: 900;
  font-size:60px;
  animation: home_ani 1s ease-out forwards;
  animation-delay: 0.5s;
  color: rgba(34, 31, 194, 0);
  margin-left: -300px;
}

/* mobile */

.bar_Home_desc {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", "san-selif";
  line-height: 60px;
  font-weight: 900;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  font-size: 50px;
  width: 100%;
  animation: home_ani 1.25s ease forwards;
  animation-delay: 0.35s;
  color: rgba(34, 31, 194, 0);
}
