/* Home Content */
@import url("https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Oswald&display=swap");

.full_container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.Home_container {
  width: 100%;
  background-color: white;
  color: blue;
  height: 100vh;
}
.About_container {
  width: 100%;
  height: 100vh;
  background-color: blue;
  color: white;
}
.Works_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0);
  color: white;
}
.Skills_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 255, 255);
}
.Contact_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 255);
  color: white;
}
